.sprite {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  z-index: 4;
  image-rendering: pixelated;
  pointer-events: none;
  object-fit: contain;
}
